.item {
  display: grid;
  background-color: rgb(249, 255, 251);
  border-radius: 10px;
  grid-template-columns: 6fr 2fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
    "name activities"
    "info activities"
    "num button";

  letter-spacing: 2px;
  margin-bottom: 5px;
}

.item:hover {
  background-color: rgb(245, 248, 246);
}

.item .name {
  grid-area: name;
  letter-spacing: 5px;
  font-weight: 600;
  font-size: larger;
  padding: 15px;

  display: grid;
  grid-template-areas:
    "nameText buttons";
  grid-template-columns: 1fr 1fr 5fr;
}

.item .name .nameText{
  grid-area: nameText;
}

.item .name .buttons{
  grid-area: buttons;
}

.item .info {
  grid-area: info;
  padding: 10px;
}

.item .numeralInfo{
  grid-area: num;
  padding: 10px;
  font-size: small;

  display: grid;
  grid-template-areas: "birth weight";
  grid-template-columns: 1fr 3fr;
}

.item .numeralInfo .birth {
  grid-area: birth;
}

.item .numeralInfo .weight {
  grid-area: weight;
}

.item .showButton {
  grid-area: button;
}

.item .activities {
  grid-area: activities;
  display: block;
  height: 100%;
}

.item .activities:hover {
  background-color: rgb(233, 238, 234);
}

.item .activities .title {
  letter-spacing: 4px;
  font-size: medium;
  padding: 5px;
  font-weight:lighter;
  text-align: center;
}