@import './../../Shared/Constants/Colors.scss';

.noContent{
    justify-content: left;
    height: 100%;
    background-color: var(--color-content-block-background-global);
    padding: 20px;
    font-style: italic;
    font-size: large;
    letter-spacing: 3px;
}