import {Colors} from './Components/Shared/Constants/Colors.js';

.app-wrapper{
  display: grid;

  grid-template-areas: 
  "header"
  "nav"
  "content"
  "footer";
  grid-template-rows: 1fr 0.5fr 8.5fr 1fr;
  grid-gap:1px;
  font-family: 'Raleway', sans-serif;
}

.app-content-wrapper {
  grid-area: content;
  background-color: Colors.contentBackground;
  letter-spacing: 1px;
  padding: 10px;
}

