.app-wrapper{
  display: grid;

  height: auto;
  grid-template-areas: 
  "header"
  "nav"
  "content"
  "footer";
  grid-template-rows: 1fr 0.5fr 8.5fr 1fr;
  grid-gap:1px;
  font-family: 'Raleway', sans-serif;
}

