@import './../../Shared/Constants/Colors.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--color-content-block-background-global);
    padding: 0 20px;
}

.wrapper nav {
    padding: 7px;
    opacity: 0.95;
}

.wrapper nav .link {
    padding: 5px;
    font-size: medium;
    text-decoration: none;
    letter-spacing: 3px;
    color: var(--color-text-global);
    margin-right: 20px;
}

.wrapper nav .link:hover {
    background-color: var(--color-background-link-hover);
    opacity: 0.9;
}

.addButton {
    position: sticky;
    bottom: 0;
}

.title {
    letter-spacing: 3px;
    font-weight: bold;
    font-size: larger;
    margin-right: 20px;
}

.header {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}