.header {
    grid-area: header;
    background-color: rgb(251, 249, 249);
    display: grid;
    grid-template-areas: 
   "icon title notifications profile";
   grid-template-columns: 1fr 12fr 1fr 2fr;
   padding: 10px;
   position: relative;
}
.header .title{
    color:rgb(0, 0, 0);
    letter-spacing: 3px;
    grid-area: title;
    font-size:larger;
}
.header .icon{
    grid-area: icon;
    color: black;;
}
.header .notifications{
    grid-area: notifications;
    color: black;
}
.header .profile {
    grid-area: profile;
    top:50%;
    position: absolute;
    margin:0px;
    transform: translate(0, -50%);
}
