@import './../../../Shared/Constants/Colors.scss';

.item {
  grid-area: item;

  display: grid;
  background-color: var(--color-content-component-background-global);
  border-radius: 10px;
  grid-template-columns: 6fr 2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "header activities"
    "info activities";

  letter-spacing: 2px;
  margin-bottom: 5px;
}

.item:hover {
  background-color: var(--color-content-component-background-hover);
}

.item .info{
  grid-area: info;
}

.item .header{
  grid-area: header;
}

.item .activities{
  grid-area: activities;
}
