@import './../../../Shared/Constants/Colors.scss';

.info{
    background-color: var(--color-content-background);
    position: absolute;
    box-shadow: 0 4px 8px 0 var(--color-box-shadow-global), 0 6px 20px 0 var(--color-box-shadow-global);
    padding: 10px;
    display: block;
    letter-spacing: 1px;
    opacity: 0.8;
    max-width: 135px;
    display: flex;
}

.info input{
    border: 0;
    outline: 0;
    padding:5px;
    line-height: 1.2;
    max-width: 135px;
    font-size: 1rem;
    letter-spacing: 1px;
}