@import './../../../../Shared/Constants/Colors.scss';

.modal {
  z-index: 2;
  position: fixed;
  top: 30%;
  left: 35%;
}

.formBox {
  display: grid;
  grid-gap: 6.5px;
  font-size: larger;
  background-color: var(--color-modals-background-global);
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 var(--color-box-shadow-global), 0 6px 20px 0 var(--color-box-shadow-global);
}

.formBox header {
  font-weight: bold;
  text-align: center;
}

.formBox label {
  line-height: 24px;
}

.formBox input {
  box-sizing: border-box;
  border: 1px solid var(--color-inputs-border-global);
  border-radius: 20px;
  margin: 12px;
  padding: 5px;
}

::placeholder {
  padding: 7px;
  letter-spacing: 2px;
  font-size: 15px;
}

.formBox button {
  border-radius: 15px;
  font-size: 15px;
  padding: 5px;
  border: none;
}

.formBox .info {
  resize: none;
  font-size: 1.3rem;
  line-height: 1.2;
  border-radius: 10px;
  margin-bottom: 10px;
}

.formBox button:hover {
  cursor: pointer;
  background-color: var(--color-inputs-border-global);
}