@import './../../../../Shared/Constants/Colors.scss';

.modal {
  z-index: 2;
  position: fixed;
  padding: 40px;
  min-width: 30%;
  max-width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}