.wrapper {
    grid-area: header;
    letter-spacing: 5px;
    font-weight: 600;
    font-size: larger;
    padding: 15px;
  
    display: grid;
    grid-template-areas:
      "nameText buttons";
    grid-template-columns: 1fr 1fr 5fr;
  }
  
  .wrapper .nameText{
    grid-area: nameText;
  }
  
  .wrapper .buttons{
    grid-area: buttons;
  }
  