@import '../../../Shared/Constants/Colors.scss';

.wrapper {
    background-color: var(--color-content-background);
    box-shadow: 0 4px 8px 0 var(--color-box-shadow-global), 0 6px 20px 0 var(--color-box-shadow-global);
    padding: 10px;
    width: 15em;
    height: 11em;
    letter-spacing: 2px;
    opacity: 0.95;
    flex-direction: column;
    word-wrap: break-word;

    overflow-y: auto;
}

.title{
   font-weight: bold;
   margin-bottom: 0.6em;
}

.noContent{
    font-style: italic;
    font-size: 0.8em;
}

.notification {
    padding: 0.5em;
    background-color: var(--color-notification-message-background);
    border-radius: 5px;
    margin-bottom: 0.5em;
}

.clearButton{
    margin-left: 50%;
    bottom: 0;
    font-size: 0.8em;
    font-style: italic;
    text-align: center;
}