@import '../../../Shared/Constants/Colors.scss';

.description{
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
    margin: 0;
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-style: italic;
}

.info{
    display: grid;
    padding-top:10px;
}

.item{
    box-shadow: 0 4px 8px 0 var(--color-box-shadow-global), 0 6px 20px 0 var(--color-box-shadow-global);
    border-radius: 15px;
    padding:15px;
}