.wrapper {
  grid-area: activities;

  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "title"
    "list"
    "button";
}

.wrapper:hover {
  background-color: rgb(233, 238, 234);
}

.wrapper .title {
  grid-area: title;

  letter-spacing: 4px;
  font-size: medium;
  font-weight: lighter;
  text-align: center;
}

.noActivity {
  padding: 5px;
  font-size: medium;
  letter-spacing: 3px;
  font-style: italic;
}

.wrapper .showButton {
  grid-area: button;
}

.wrapper .list {
  grid-area: list;
}

.name {
  padding: 5px;
  font-size: larger;
  letter-spacing: 4px;
  font-weight: bolder;
}
